*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  background-color: whitesmoke;
  font-family: gilroy;
  overflow-x: hidden;
}

/* NAVBAR STYLING */


.navbar{
  height: 9vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  position: fixed;
  z-index: 999;
}
.navleft{
  height: 9vh;
  width: 50vw;
  display: flex;
  align-items: center;
  gap: 3vh;
}
.nav-text{
  color: darkorange;
  font-family: samarkan;
}
.logo{
  height: 8vh;
  width: 8vh;
}
.navright{
  height: 9vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}
.nav-icon-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}
.gg>i{
  font-size: 2.4vh;
}
.hyperlink{
  font-size: 2.5vh;
  text-decoration: none;
  color: black;
}



/* PAGE 1 STYLING */


.cont-1{
  height: fit-content;
  width: 100vw;
  max-width: 100%;
  background-color: lightgrey;
  display: flex;
}
.cont-1-left{
  height: 70vh;
  width: 60vw;
  display: flex;
  align-items: flex-start;
  justify-content:flex-end;
  flex-direction: column;
  padding: 10vh 3vh;
}
.cont-1-text-1{
  font-size: 5vh;
  font-weight: 100;
}
.cont-1-text-2{
  font-size: 11vh;
  color: darkorange;
}
.cont-1-text-3{
  font-size: 4.5vh;
  font-weight: 100;
}
.cont-1-right{
  height: 70vh;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20vh;
}
.random-test-1{
  height: 10vh;
  width: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cont-1-img-1{
  height: 80vh;
  width: 80vh;
  border-radius: 50%;
  position: absolute;
}
.cont-1-img-2{
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
  position: absolute;
}
.cont-1-img-3{
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  position: absolute;
}
.img-1-part-1{
  height: 80vh;
  width: 80vh;
  object-fit: cover;
}
.img-1-part-2{
  height: 50vh;
  width: 50vh;
  object-fit: cover;
}
.img-1-part-3{
  height: 30vh;
  width: 30vh;
  object-fit: cover;
}


/* PAGE2 STYLING */

.cont-2{
  height: fit-content;
  width: fit-content;
}
.cont-2-part-1{
  height: 10vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-2-text-1{
  font-size: 7vh;
}
.cont-2-part-2{
  height: fit-content;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-2-text-2{
  font-size: 3vh;  
  font-weight: 100;
  text-align: center;
}
.vid-wraper{
  height: 50vh;
  width: 100vw;
  max-width: 100%;
  pointer-events: none;
}
.vid{
  height: 50vh;
  width: 100vw;
  object-fit: cover;
  pointer-events: none;
}



/* PAGE 3 STYLING */


.cont-3{
  height: 60vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  background-color: rosybrown;
}

.service{
  height: 60vh;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vh;
}
.service-1{
  height: 50vh;
  width: 24vw;
  background-color: lightgrey;
  border-radius: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vh;
}
.service-one{
  height: 29vh;
  width: 23vw;
}
.service-two{
  height: 19vh;
  width: 23vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1vh;
  gap: 2vh; 
}
.service-two-text-1{
  font-size: 4.5vh;
}
.service-two-text-2{
  font-size: 2vh;
  font-weight: 100;
  text-align: center;
}
.service-2{
  height: 8vh;
  width: 24vw;
  border-radius: 1vh;
  background-color: darkorange;
  display: flex;
  align-items: center;
  justify-content: center;
}
